div {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 15px auto;
    padding: 30px;

}

h1{
    background-color: blanchedalmond;
    position: fixed;
    left: 300px
}

div {
    position: relative;
    left: 150px
    

    
}

div.caixa1 {
    background-color: yellow;
    border: 1px solid black;
}
div.caixa2 {
    background-color:green;
    border: 2px solid black;
}
div.caixa3 {
    background-color: red;
    border: 3px solid black;
}
div.caixa4 {
    background-color: blue;
    border: 4px solid black;
}
div.caixa5 {
    background-color:grey;
    border: 5px solid black;
}
div.caixa6 {
    background-color: indigo;
    border: 6px solid black;
}