* {
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth; 
}
  
header{
    text-align: center; 
    width: 100%;
    border: 2px solid black;
    background-color: black; 
    padding: 25px; 
    position: fixed;
    z-index: 2; 
}

body{
    font-family: Roboto, sans-serif;
    background-color: white;
    color: black; 
    margin: 0;
    padding: 0;
}
   
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li.header{
    display: inline; 
    border: 1px solid black; 
    padding: 20px; 
}

main{
    width: 100%;
    padding: 100px 0 30px;
}

img {
    margin-top: 15px;
    width: 100%;
    padding: 0 100px;
}

h1{
    text-align: center;
} 

h2{
    text-align: center;
}

p{
    margin-top: 15px;
    padding: 0 100px;
    text-align: justify;
}

label{
    display: block;
}

.tel{   
    width: 250px;
    position: fixed;
    z-index: 2;
    right: -80px;
    bottom: 30px;
    padding: 0 100px;
}

footer{
    text-align: center;
    border: 2px solid black;
    background-color: white;
    padding: 15px; 
}